<header>
    <link rel="stylesheet" href="../public/css/style.css">
</header>

<div class='bg'>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>WeeMoo</h3>
                <strong>WM</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/main">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>home</span>
                    </a>
                    <a href="/record">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        My Record
                    </a>
                    <a href="/myinfo">
                        <i class="glyphicon glyphicon-link"></i>
                        My Info
                    </a>
                    <a href="/about">
                        <i class="fas fa-book-open"></i>
                        <span>About</span>
                    </a>
                    <a href="/logout">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Logout
                    </a>
                    
                </li>
            </ul>
        </nav>


        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-default" style="font-size: larger;">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
        </div>

        <div class="container-fluid">
            <div id="content">
                <div class="textBox">
                    <h4 style="color: aliceblue; text-align:center">WeeMoo provides a simple platform to record your daily events.<br>
                        <br>
                        Create, Record, Review, Change, and Delete.<br>
                        <br>
                        <h4 style="font-size: x-large; color:aliceblue; text-align:center">Start Writing now.</h4>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>