<!DOCTYPE html>
<html>
<title>WeeMoo - A Simple Daily Diary</title>>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>WeeMoo</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- icon -->
  <script src="https://kit.fontawesome.com/cd27be9bab.js" crossorigin="anonymous"></script>
  <!-- text editor-->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">
  <!-- animation-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body>

  {{{body}}}

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- js code for side bar -->
  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>

  <!-- js code to show the date -->
  <script>
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
  </script>

  <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <!-- Initialize Quill editor -->
  <!-- HOW TO SEND THE DATA HERE TO THE SERVER?  -->
  <script>
      var tools = [
        ['bold', 'italic', 'underline', 'strike'],
        [{ 'size': ['14px', '16px', '18px'] }],
        [{ 'color': ["#000000", "#e60000", "#ff9900", "#ffff00", "#008a00", "#0066cc", "#9933ff", "#ffffff", "#facccc", "#ffebcc", "#ffffcc", "#cce8cc", "#cce0f5", "#ebd6ff", "#bbbbbb", "#f06666", "#ffc266", "#ffff66", "#66b966", "#66a3e0", "#c285ff", "#888888", "#a10000", "#b26b00", "#b2b200", "#006100", "#0047b2", "#6b24b2", "#444444", "#5c0000", "#663d00", "#666600", "#003700", "#002966", "#3d1466", 'custom-color'] }]
      ];

      
      var quillEditor = new Quill('#editor', {
        modules: {
          toolbar: tools
        },
        theme: 'snow'
      });

      // customize the color tool handler
      quillEditor.getModule('toolbar').addHandler('color', (value) => {

        // if the user clicked the custom-color option, show a prompt window to get the color
        if (value == 'custom-color') {
          value = prompt('Enter Hex/RGB/RGBA');
        }
        quillEditor.format('color', value);
      });
  </script>
  <script>
    quillEditor.on('text-change', function (delta, oldDelta, source) {
      $('#hiddenArea').val(quillEditor.container.firstChild.innerHTML);
    });
  </script>
</body>

</html>