<header>
    <link rel="stylesheet" href="../public/css/style.css">
</header>

<div class='bg'>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>WeeMoo</h3>
                <strong>WM</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/main">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>home</span>
                    </a>
                    <a href="/record">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        My Record
                    </a>
                    <a href="/myinfo">
                        <i class="glyphicon glyphicon-link"></i>
                        My Info
                    </a>
                     <a href="/about">
                        <i class="fas fa-book-open"></i>
                        <span>About</span>
                    </a>
                    <a href="/logout">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>


        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-default" style="font-size: larger;">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
        </div>

        <!-- Page Content Holder -->
        <div class="container-fluid">
            <div id="content">
                <div class="textBox">
                    <form method="POST" id = "identifier">
                        <input type="Text" placeholder="Enter Today's Subject" id = "Subject" name="subject">
                        
                        <p id='date' style="font-size:large"></p>
                    
                        <div id="editor">
                            
                        </div>
                            <p><br></p>
                            <textarea name = "context" style="display:none;" id="hiddenArea"></textarea>
                            <input type="submit" value="Save" class='btn btn-primary' id="savebtn"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

