<header>
    <link rel="stylesheet" href="../public/css/style.css">
</header>

<div class='bg'>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>WeeMoo</h3>
                <strong>WM</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/main">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>home</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-book-open"></i>
                        <span>About</span>
                    </a>

                    <a href="/record">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        My Record
                    </a>

                    <a href="/logout">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Logout
                    </a>
                    {{!-- <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul> --}}
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        My Info
                    </a>
                </li>
            </ul>
        </nav>


        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-default" style="font-size: larger;">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
        </div>
            
        <!-- Page Content Holder -->
        <div class="container-fluid">
            <div id="content">
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    </tr>
                </tbody>
                </table>               
                {{#each allRecord as |a|}}
                    <h3>{{a.date}}</h3>
                    <h3>{{a.context}}</h3>
                    <h3>{{a.date}}</h3>
                {{/each}}
            </div>
        </div>
    </div>
</div>